In [20]:
import pandas as pd
df = pd.read_csv('ViewingActivity.csv')
df.shape
df.head(1)

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Adam,2022-04-23 07:50:53,00:17:43,NaN,Pacific Rim: The Black: Season 2: bOy (Episode 1),NaN,Samsung 2018 Kant-M2 UHD TV Smart TV,00:17:43,00:17:43,US (United States)

In [21]:
df = df.drop(['Profile Name', 'Attributes', 'Supplemental Video Type', 'Device Type', 'Bookmark', 'Latest Bookmark', 'Country'], axis=1)
df['Start Time'] = pd.to_datetime(df['Start Time'], utc=True)
df = df.set_index('Start Time')
df.index = df.index.tz_convert('US/Central')
df = df.reset_index()
df.head(1)

,Start Time,Duration,Title
0,2022-04-23 02:50:53-05:00,00:17:43,Pacific Rim: The Black: Season 2: bOy (Episode 1)

In [27]:
df['Duration'] = pd.to_timedelta(df['Duration'])
show = df[df['Title'].str.contains('Castle', regex=False)]
show = show[(show['Duration'] > '0 days 00:05:00')]
show.shape

(81, 3)